<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAiBdhXD-xnHn2mbi4Rzw-LzZGdjARO99I"/>
        <activity
            android:name="com.application.customization.BaseActivity"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".both.TitleActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".both.ChooseRoleActivity"
            android:exported="true" />
        <activity
            android:name=".both.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".registration.PersonalInformationActivity"
            android:exported="true" />
        <activity android:name=".registration.SignUpInformationActivity"
            android:exported="true" />
        <activity
            android:name=".registration.CaregiverInformationActivity"
            android:exported="true" />
        <activity
            android:name=".caregiver.PatientInfoActivity"
            android:exported="true" />
        <activity
            android:name=".patient.PatientDashboardActivity"
            android:exported="true" />
        <activity android:name=".patient.CaregiverInfoActivity"
            android:exported="true" />
        <activity
            android:name=".caregiver.CaregiverDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".caregiver.PatientLocationActivity"
            android:exported="true" />
        <activity
            android:name=".both.MenuActivity"
            android:exported="true" />
        <activity
            android:name=".patient.PatientSettingsActivity"
            android:exported="true" />
        <activity
            android:name=".caregiver.CaregiverSettingsActivity"
            android:exported="true" />
        <activity android:name=".MedicalTestActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".games.CognitiveGamesActivity"
            android:exported="true" />
        <activity android:name=".games.GuessWordChooseCategoryActivity"
            android:exported="true" />
        <activity android:name=".games.GuessWordActivity"
            android:exported="true" />
        <activity android:name=".games.CraftRhymeActivity"
            android:exported="true" />
        <activity android:name=".DailyChecklistActivity"
            android:exported="true" />
        <activity android:name=".patient.yourPharmacy.YourPharmacyActivity"
            android:exported="true" />
        <activity android:name=".patient.yourPharmacy.AddMedicineActivity"
            android:exported="true" />
    </application>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

</manifest>